body{
    width: 100%;
    height: 100%;
    margin: 0%;
}

ul{
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #0346aa;
    height: 100px;
}

main, .content {
    margin: 0 auto ;
    width: 1000px;
    position: relative;
    margin-top: 0%;
}
.logo{
    float: left;
    padding: 10px;
    width: 60%;
    color: #FFBF00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.redes-sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 35px;
}
.redes-sociais {
    width: 30%;
    float: right;
}

.header-2{
    background-color: white;
    width: 980px; 
    margin: 0 auto;
    padding: 20px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid white;

}
.menu ul li {
    display:inline-block;
    color: #FFBF00;
    margin-left: 15px ;
    height:50px;
}
.menu ul li a:hover{
    color: #0346aa;
   }
.menu ul li:hover{
    border-bottom: 2px solid #0346aa ;
    }
.menu ul li a {
    color: #0346aa;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

.menu {
    width: 80%;
    float: left;
}
.busca {
    text-align: center;
    width: 20%;
    float: right;
}
.busca input{
    background-image: url('../img/busca2.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 96%;
    background-position-x: 155px;
    margin-top: 5px;
    height: 40px;
    width: 190px;
    padding: 2px;
    font-size: medium;
    border: 1px solid gray;
}

.col-100{
    width: 100%;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 44px;
    height: 50px;
    background-color: transparent;
    background-image: url('../img/setaesqueda.png') ;
    position: absolute;
    z-index: 9;
    background-position: left;
    top: 58%;
    left: 0%;
}
button.slick-next{
    font-size: 0px;
    border: none;
    width: 44px;
    height: 50px;
    background-color: transparent;
    background-image: url('../img/seta.png') ;
    position: absolute;
    z-index: 9;
    background-position: left;
    top: 58%;
    right: 0%;
    }
.slick-list{
    width: 100%!important;
}

.slick-initialized{
    overflow: hidden;
    width:100%;
}
.slick-dots li button{
    font-size: 0px;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 43%;
    top: 80%;
}

li.slick-active button{
    background: #0346aa;
}

.slick-dots li{
    display: inline-block;
    padding-left: 10px;
}
.content h1{
    color: #0346aa;

}
.texto-destaque{
    text-align: center;
}
.texto-destaque p {
    color: black;
    font-size: 20px;
}
.col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float:left;
    position: relative;
}
.bloco-texto{
    margin-top: 1em;
}